@page "/counter"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<h1>Timestamp</h1>

<p>Current Timestamp: @currentTimestamp</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private DateTime currentTimestamp = new DateTime();

    private async Task IncrementCount()
    {
        currentCount++;
        currentTimestamp = DateTime.Now;
        await GuardarClick();
    }
    public Boton[] Lbtn { get; set; }

    async Task GuardarClick()
    {
        await Http.PostAsJsonAsync("boton", new Boton { ID = Guid.NewGuid().ToString(), Fecha = DateTime.Now,Contador = currentCount });
        //NavigationManager.NavigateTo("counter-copia");
    }
}
